<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InvoiceEvidence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <InvoiceEvidence.Properties.Settings>
      <setting name="TesseractDirectory" serializeAs="String">
        <value>tesseract-master.1153</value>
      </setting>
      <setting name="TesseractLanguages" serializeAs="String">
        <value>ces+eng</value>
      </setting>
      <setting name="MainFormVerticalScrollbarPlaceholderWith" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="InvoiceNewBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="InvoiceOldBackColor" serializeAs="String">
        <value>200, 100, 100</value>
      </setting>
      <setting name="InvoiceOldDaysCount" serializeAs="String">
        <value>730</value>
      </setting>
      <setting name="InvoiceNewDaysCount" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="TesseractTemporalDirectory" serializeAs="String">
        <value>C:\Temp</value>
      </setting>
      <setting name="MainFormExtendedView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SupportedExtension" serializeAs="String">
        <value>jpg;png</value>
      </setting>
    </InvoiceEvidence.Properties.Settings>
  </userSettings>
</configuration>
